<div class="section horarios">
    <div class="container w-100">
      <div>
        <div>
          <tabset class="nav-tabs-primary w-100">
            <tab>
              <ng-template tabHeading>
                <div class="d-flex p-2">
                    <h1 class="text-white tab-title d-flex">
                        SEDE CENTRO</h1>
                        <img src="../../../assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                </div>
              </ng-template>
              <div>
                <div>
                    <h2 class="text-white mb-1">Dirección</h2>
                    <p class="direccion-text">Primero de Mayo y Los Ríos, Guayaquil, Ecuador</p>
                </div>
                <div class="section galeria">

                    <div class="swiper-galeria mySwiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="../../../assets/img/image-galeria.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="../../../assets/img/image-galeria-1.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="../../../assets/img/image-galeria-2.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="../../../assets/img/image-galeria-3.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="../../../assets/img/image-galeria-4.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="../../../assets/img/image-galeria-5.png" />
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next">
                        <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                    </div>
                      <div class="swiper-button-prev">
                        <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />

                      </div>
                  </div>
                </div>

                <div class="col-md-12 container-horarios">
                    <h1 class="text-resaltado title-horario">Horarios</h1>
                    <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Lunes a Viernes</h3>
                            <h3 class="text-white
                            ">6:00 am - 10:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Sábado</h3>
                            <h3 class="text-white
                            ">6:00 am - 10:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Domingo</h3>
                            <h3 class="text-white
                            ">6:00 am - 10:00 pm</h3>
                        </div>
                    </div>
                </div>

                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.912272665068!2d-79.89677212523085!3d-2.186949737273364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6ddfa889dd27%3A0xf993d10c00882e66!2sNOVA%20GYM%20CENTRO!5e0!3m2!1ses-419!2sec!4v1721704135068!5m2!1ses-419!2sec" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            </tab>
            
            <tab>
                <ng-template tabHeading>
                  <div class="d-flex p-2">
                      <h1 class="text-white tab-title d-flex">
                          SEDE NORTE</h1>
                          <img src="../../../assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                  </div>
                </ng-template>
                <div>
                  <div>
                      <h2 class="text-white mb-1">Dirección</h2>
                      <p class="direccion-text">Plaza Mayor, Av. Rodolfo Baquerizo Nazur, Guayaquil, Ecuador</p>
                  </div>
                  <div class="section galeria">
  
                      <div class="swiper-galeria mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-1.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-2.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-3.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-4.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-5.png" />
                          </div>
  
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                      </div>
                        <div class="swiper-button-prev">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />
  
                        </div>
                    </div>
                </div>

                <div class="col-md-12 container-horarios">
                    <h1 class="text-resaltado title-horario">Horarios</h1>
                    <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Lunes a Viernes</h3>
                            <h3 class="text-white
                            ">8:00 am - 11:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Sábado</h3>
                            <h3 class="text-white
                            ">9:00 am - 11:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Domingo</h3>
                            <h3 class="text-white
                            ">10:00 am - 8:00 pm</h3>
                        </div>
                    </div>
                </div>


                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.0340567210533!2d-79.90055432503239!3d-2.140629497840307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6df9033a23b9%3A0x76c5da98498d62a6!2sNOVA%20GYM%20ALBORADA!5e0!3m2!1ses-419!2sec!4v1721704752880!5m2!1ses-419!2sec" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                  

                </div>
            </tab>
            
            <tab>
                <ng-template tabHeading>
                  <div class="d-flex p-2">
                      <h1 class="text-white tab-title d-flex">
                          SEDE SUR</h1>
                          <img src="../../../assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                  </div>
                </ng-template>
                <div>
                  <div>
                      <h2 class="text-white mb-1">Dirección</h2>
                      <p class="direccion-text">Av. 25 de Julio(Frente al Mall del Sur), Guayaquil, Ecuador</p>
                  </div>
                  <div class="section galeria">
  
                      <div class="swiper-galeria mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-1.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-2.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-3.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-4.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../../../assets/img/image-galeria-5.png" />
                          </div>
  
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                      </div>
                        <div class="swiper-button-prev">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />
  
                        </div>
                    </div>
                    </div>

                    <div class="col-md-12 container-horarios">
                        <h1 class="text-resaltado title-horario">Horarios</h1>
                        <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                            <div class="horario">
                                <h3 class="text-white mb-0
                                ">Lunes a Viernes</h3>
                                <h3 class="text-white
                                ">9:00 am - 10:00 pm</h3>
                            </div>
    
                            <hr class="separator" />
    
                            <div class="horario">
                                <h3 class="text-white mb-0
                                ">Sábado</h3>
                                <h3 class="text-white
                                ">9:00 am - 10:00 pm</h3>
                            </div>
    
                            <hr class="separator" />
    
                            <div class="horario">
                                <h3 class="text-white mb-0
                                ">Domingo</h3>
                                <h3 class="text-white
                                ">10:00 am - 8:00 pm</h3>
                            </div>
                        </div>
                    </div>

                    <div class="mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.7997020080825!2d-79.90226692259459!3d-2.2289101315600357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6f7548e5952b%3A0x58e0169eab048b3c!2sNOVA%20GYM%20SUR!5e0!3m2!1ses-419!2sec!4v1721704782043!5m2!1ses-419!2sec" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
            </tab>
          </tabset>
        </div>
      </div>
      
    </div>
  </div>
  <div>
    <app-contactanos-footer></app-contactanos-footer>
  </div>